<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="Travely: Real-time intineraries powered by location AI.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <nav>
      <a href="#"><img class="logo" src="./images/logo.svg" alt="Travely Logo | Homepage" /></a>
      <div class="links">
        <a href="#">About</a>
        <a href="#">Docs</a>
        <button class="button__med" href="#">Singup</button>
      </div>
    </nav>
  </header>
  <main>
    <section class="info">
      <h1 class="main_title">Happy Family Mall</h1>
      <h2 class="main_info">Only authorized users can use it.</h2>
      <button class="button_jumbo" href="#">Login</button>
    </section>
    <section class="features">
      <div class="feature">
        <img src="images/cellphone.png" alt="cellphone" />
        <div class="feature__info">
          <p class="feature__top">Cellphone</p>
          <p class="feature__bottom">Best price guarantee and Fast shipping</p>
        </div>
      </div>
      <div class="feature">
        <img src="images/home_appliances.png" alt="Home Appliances" />
        <div class="feature__info">
          <p class="feature__top">Home Appliances</p>
          <p class="feature__bottom">Variety of products and best quality</p>
        </div>
      </div>
      <div class="feature">
        <img src="images/accessory.png" alt="accessory" />
        <div class="feature__info">
          <p class="feature__top">Accessory</p>
          <p class="feature__bottom">Variety of products and best quality</p>
        </div>
      </div>
      <div class="feature">
        <div class="feature__info">
          <a class="feature__cta" href="#">Learn More</a>
        </div>
      </div>
    </section>
  </main>
</body>

</html>