.DS_Store
*.pdf

example/lecture_3/rock-paper-scissors/node_modules
example/lecture_3/rock-paper-scissors/package-lock.json
example/lecture_3/rock-paper-scissors/dist
example/lecture_4
presentation/*.html

settings.json
*.drawio